.cart-items {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 20rem;
    overflow: auto;
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 0;
}

.actions {
    /*text-align: right;*/
}

.actions button {
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #d8222b;
    padding: 0.2rem .8rem;
    border-radius: 5px;
    margin-left: .3rem;
}

.actions button:hover,
.actions button:active {
    background-color: black;
    border-color: black;
    color: white;
}

.actions .button--alt {
    color: #d8222b;
}

.actions .button {
    background-color: #d8222b;
    color: white;
}

.Container {
    text-align: center;
}

.Center {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 0;
}
