.CartItems {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.CartHeight {
    max-height: 60vh;
    padding-left: 0;
}

.CheckOutHeight {
    max-height: 65vh;
    padding-left: 0;
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 0;
}

.Container {
    text-align: center;
}

.Bold {
    font-weight: bold;
    font-size: 1.5rem;
}
