# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
ec_wash.iml
.idea

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#firebase
firebase.json
firestore.indexes.json
firestore.rules
.firebaserc
.env
package-lock.json
.firebase

#functions
/functions/node_modules
/functions/package-lock.json
