.Color {
    color: #fff !important;
    background-color: black !important;
}

.Pic {
    font-size: 1.25rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
}

.Search {
    margin: 5px 10px;
    flex: 2;
}

.Button {
    margin-right: 12px;
}

.BarCenter {
    justify-content: space-between;
}

@media (max-width: 520px) {
    .Pic {
        display: none;
    }
}
